body{
    background-color: #EDEEF0;
}
section{
    width:100%;
    height:95vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}
section > div,header,footer {
    margin: 0 ;
}


.chart{

    width: 70%;
    height: 80%;
    background-color: black;
}
header,footer{
    width: 12%;
    height: 80%;
    background-color: rgba(0,0,0,0.5);
}
header{
    border-right: 1px solid #000;
}
footer{
    border-left: 1px solid #000;
}