body{
    background-color: #932985;
    font-size: 100%;
	font-family: Georgia, "Century Schoolbook L", Serif;


}
nav{
    height: 10vh;
    width: 90%;
    margin:2vh auto 0 ;

}
section{

    width:90%;
    padding: 0;
    margin: 8vh auto 0 ;


}
section > header{
    width: 100%;
    height:10vh;
    margin:2vh 0;
    border-left: 3px solid #00E5FF;
    border-right: 3px solid #00E5FF;
}
section > div,footer {
    margin: 0 ;
    height: 68vh;
    float: left;
      transition: all 0.5s ease;
}

section > div{
    z-index: 1;
}
.chart{
    width: 100%;


}
footer{
    width: 0%;
    z-index: 2;
    overflow: hidden;

}

footer > div{
    color:#fff;
    width:100%;
    height: 33vh;
    overflow: scroll;
    word-wrap:break-word;
}
footer > div > p{
    margin:5%;

}
footer > div:first-child > p:last-child{
    color:#000;

}
footer > div:first-child{
    border-bottom:1px solid rgba(0,0,0,0.3);

}

.bred{
    padding:5px;
    text-align: justify;
    color:#fff;
}
