li {
    list-style-type: none;
    background-size: 130% 140%;
}
header > ul{
    display: inline-block;
    width: 100%;
    height:40%;
    margin:20% 0 ;
    padding: 0;
    position: relative;

}

header ul li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 25%;
  margin: 0 5%  ;
  width: 90%;
  position: relative;
  z-index:2;
  font-size: 1em;
  text-align: center;
  border-bottom: 1px solid #111111;

}

ul li input[type=radio]{
  position: absolute;
  visibility: hidden;
}


ul li label{
  color: #FFF;
  display: block;
  position: relative;
  font-weight: 400;
  font-size: 1.2em;
  z-index: 9;
  cursor: pointer;
  padding-left:25px;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

ul li:hover label{
	color: #2DC0E8;
}

ul li .check{
  display: block;
  position: absolute;
  border: 3px solid #FFF;
  border-radius: 100%;
  height: 10px;
  width: 10px;
  top: 35%;
  left: 0;
	z-index: 5;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
}

ul li:hover .check {
  border: 3px solid #2DC0E8;
}

ul li .check::before {
  display: block;
  position: absolute;
  content: '';
  border-radius: 100%;
  height: 13px;
  width: 13px;
  top: -1px;
  left: -1px;
  margin: auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
}

input[type=radio]:checked ~ .check {
  border: 3px solid #31EEFF;
}

input[type=radio]:checked ~ .check::before{
  background: #31EEFF;
}

input[type=radio]:checked ~ label{
  color: #31EEFF;
}

.signature {
	position: fixed;
	margin: auto;
	bottom: 0;
	top: auto;
	width: 100%;
}

.signature p{
	text-align: center;
	font-family: Helvetica, Arial, Sans-Serif;
	font-size: 0.85em;
	color: #2DC0E8;
}

.signature .much-heart{
	display: inline-block;
	position: relative;
	margin: 0 4px;
	height: 5px;
	width: 5px;
	background: #2DC0E8;
	border-radius: 1px;
	-ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.signature .much-heart::before,
.signature .much-heart::after {
	  display: block;
  content: '';
  position: absolute;
  margin: auto;
  height: 5px;
  width: 5px;
  border-radius: 1px;
  background: #AC1D3F;
  top: -10px;
}

.signature .much-heart::after {
	bottom: 0;
	top: auto;
	left: -10px;
}

.signature a {
	color: #AAAAAA;
	text-decoration: none;
	font-weight: bold;
}


