
/* 454 общий блок шапки*/
    nav ul:first-child{
        float: right;
    }
    nav ul:last-child{
        float: left;
        position: relative;
        border-right: 5px double #FFDD00;
        padding-right: 1%;
    }
    nav ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding-left: 0;
        margin-top:0;
        width: 49%;
    }
/* 454*/


/* 1а.Перемещадщийся ползунок с выпадающим списком */
    nav ul select{
        position: absolute;
        width: 22.5%;
        border: none;
        background-color: #fff;
    }
    nav ul select{
        left:1%;
    }


    nav ul select[name='cur1']{
        bottom: -23px;
        transition: all 1s ease;
    }
    nav ul select[name='cur2']{
        bottom: -45px;
        transition: all 1.5s ease;
    }
    nav ul li:nth-child(1).actv ~ select[name='cur1'],nav ul li:nth-child(1).actv ~ select[name='cur2']{
       left:-60%;
    }
    nav ul li:nth-child(2).actv ~ select[name='cur1'],nav ul li:nth-child(2).actv ~ select[name='cur2']{
        left:25.5%;
    }
    nav ul li:nth-child(3).actv ~ select[name='cur1'],nav ul li:nth-child(3).actv ~ select[name='cur2']{
        left:50%;
    }
    nav ul li:nth-child(4).actv ~ select[name='cur1'],nav ul li:nth-child(4).actv ~ select[name='cur2']{
        left:74.5%;
    }

/* 1а. */

/*  уцу  стиль li маркеры*/
    nav ul li label{
        display: block;
        padding: 10px;

    }
    nav ul li{
        list-style-type: none;
        margin: 0 1%;
        padding: 0px;
        width: 23%;
        font-size: 20px;
        text-align: center;
        color: #FFF;
        position: relative;
        transition: all 1s ease;
        overflow: hidden;
        text-shadow:0 6px 1px rgba(0,0,0,.1),
               0 0 1px rgba(0,0,0,.1),
               0 0px 1px rgba(0,0,0,.3),
               0 1px 2px rgba(0,0,0,.2),
               0 2px 5px rgba(0,0,0,.25),
               0 5px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.15);
    }
                        .a,.b,.c,.d{
                            position: absolute;
                            background-color: #fff;
                            z-index: 99;
                        }
                            .a:before,.b:before,.c:before,.d:before{
                                background-color: #FFDD00;
                                transition: all 1s ease;
                                position: absolute;
                                z-index: 100;
                                content:'';
                        }
                        .a,.a:before,.b:before, .b{
                            top: 0px;
                            left: 0px;
                        }
                        .c,.c:before,.d:before,.d{
                            bottom:0px;
                            right:0px;
                        }

                        .c,.a{
                            height: 150%;
                            width:3px;
                        }
                        .c:before,.a:before{
                            height: 0px;
                            width:3px;
                        }
                        .d,.b{
                            height: 3px;
                            width:150%;
                        }
                        .d:before,.b:before{
                            height: 3px;
                            width:0;

                        }
                        nav ul li input:checked{
                            color:#FFDD00;
                        }

    nav ul li:hover,nav ul li input:checked + label{
         color:#FFDD00;
    }
    nav ul li:hover .a:before,nav ul li:hover .c:before,  nav ul li input:checked ~ .a:before, nav ul li input:checked ~ .c:before{
        height:154%;
    }
    nav ul li:hover .b:before,nav ul li:hover .d:before,  nav ul li input:checked ~ .b:before, nav ul li input:checked ~ .d:before{
         width:120%;
    }
    nav ul li input[type=radio]{
        opacity: 0;
        position: absolute;
    }
    nav ul label:hover{
        cursor: pointer;
    }

/*  уцу */


/*443 боковая панель*/





/*443 */