<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title> не Хуец</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"  />
    <link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}"  />
    <link rel="stylesheet" type="text/css" href="{% static 'css/preloader.css' %}"  />
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}"/>

</head>
<body>
    <section>

        <header>
            <ul>
                <li>
                        <input type="radio" id='UAH' name="selector">
                        <label for="UAH">Гривна</label>
                        <div class="check"></div>
                </li>
                <li>
                        <input type="radio" id='RUB' name="selector" >
                        <label for="RUB">Рубль</label>
                        <div class="check"></div>
                </li>
                <li>
                        <input type="radio" id='USD' name="selector">
                        <label for="USD">Доллар</label>
                        <div class="check"></div>
                </li>
                <li>
                        <input type="radio" id='EUR' name="selector" checked>
                        <label for="EUR">Евро</label>
                        <div class="check"></div>
                </li>

            </ul>

            <ul>
                <li>
                        <input type="radio" id='graf' name="selector2" checked>
                        <label for="graf">Курсы валют</label>
                        <div class="check"></div>
                </li>
                <li>
                        <input type="radio" id='jump' name="selector2" class="para"  >
                        <label for="jump">Динамика скачков</label>
                        <div class="check"></div>
                </li>
                <li>
                        <input type="radio" id='crisis' name="selector2" class="para" >
                        <label for="crisis">Кризисные состояния</label>
                        <div class="check"></div>
                </li>
                <li>
                        <input type="radio" id='couple' name="selector2" class="para" >
                        <label for="couple">Попарное сравнение</label>
                        <div class="check"></div>

                </li>
                <select name="cur1" class="select_currency"></select>
                <select name="cur2" class="select_currency"></select>
            </ul>
        </header>
        <div id="chart_id" class="chart"></div>
        <footer>
            <div>
                <p>Интервалы</p><p></p>
            </div>
            <div>
               <p>Разница</p><p></p>
            </div>
        </footer>

        <div id="preloader">
            <div class="cssload-tetrominos">
                    <div class="cssload-tetromino cssload-box1"></div>
                    <div class="cssload-tetromino cssload-box2"></div>
                    <div class="cssload-tetromino cssload-box3"></div>
                    <div class="cssload-tetromino cssload-box4"></div>
            </div>
        </div>
    </section>
</body>
    <script src="{% static 'js/jquery_1_9_2.js' %}"></script>
    <script src="{% static 'js/highcharts/highcharts.js' %}"></script>
    <script src="{% static 'js/highcharts/grid.j' %}"></script>
    <script src="{% static 'js/highcharts/dark-unica.js' %}"></script>
    <script src="{% static 'js/highcharts/main.js' %}"></script>
</html>