<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Диплом</title>
    <meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
    <meta http-equiv="Cache-Control" content="private">
    <meta http-equiv="Expires" content="Wed, 26 Feb 1999 08:21:57 GMT"/>

<meta HTTP-EQUIV="Expires" CONTENT="0">
<meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
<meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"  />
    <link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}"  />
    <link rel="stylesheet" type="text/css" href="{% static 'css/preloader.css' %}"  />
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}"/>

</head>
<body>
    <nav>
            <ul>
                <li>
                        <input type="radio" id='UAH' name="selector">
                        <label for="UAH">Гривна</label>
                        <div class="a"></div>
                        <div class="b"></div>
                        <div class="c"></div>
                        <div class="d"></div>
                </li>
                <li>
                        <input type="radio" id='RUB' name="selector" >
                        <label for="RUB">Рубль</label>
                        <div class="a"></div>
                        <div class="b"></div>
                        <div class="c"></div>
                        <div class="d"></div>
                </li>
                <li>
                        <input type="radio" id='USD' name="selector">
                        <label for="USD">Доллар</label>
                        <div class="a"></div>
                        <div class="b"></div>
                        <div class="c"></div>
                        <div class="d"></div>
                </li>
                <li>
                        <input type="radio" id='EUR' name="selector" checked>
                        <label for="EUR">Евро</label>
                        <div class="a"></div>
                        <div class="b"></div>
                        <div class="c"></div>
                        <div class="d"></div>
                </li>

            </ul>

            <ul>
                <li>
                        <input type="radio" id='graf' name="selector2" >
                        <label for="graf">Курсы валют</label>
                        <div class="a"></div>
                        <div class="b"></div>
                        <div class="c"></div>
                        <div class="d"></div>
                </li>
                <li>
                        <input type="radio" id='jump' name="selector2" class="para "  >
                        <label for="jump">Динамика скачков</label>
                        <div class="a"></div>
                        <div class="b"></div>
                        <div class="c"></div>
                        <div class="d"></div>
                </li>
                <li>
                        <input type="radio" id='crisis' name="selector2" class="para" checked>
                        <label for="crisis">Кризисные состояния</label>
                        <div class="a"></div>
                        <div class="b"></div>
                        <div class="c"></div>
                        <div class="d"></div>
                </li>
                <li>
                        <input type="radio" id='couple' name="selector2" class="para" >
                        <label for="couple">Попарное сравнение</label>
                        <div class="a"></div>
                        <div class="b"></div>
                        <div class="c"></div>
                        <div class="d"></div>

                </li>
                <select name="cur1" class="select_currency" ></select>
                <select name="cur2" class="select_currency"></select>
            </ul>
    </nav>
    <section>
        <header>
            <p class="bred" id = 'Bgraf'>
                Интимная область у каждого человека имеет свой цвет и оттенок. Но при этом часто кожный покров в области заднего прохода и половых органов может очень сильно отличаться от такового по всему телу. Поэтому темный цвет может создавать эффект грязной неухоженной кожи и вызывать брезгливость и неприязнь особенно у людей с остро развитым чувством эстетики. Проблема носит психологический и эстетический характер.
            </p>
            <p class="bred" id = 'Bjump'>
                Смегма (греч. σμήγμα — кожное сало) — смесь секрета сальных желез крайней плоти, отмершей эпителиальной ткани и влаги, которая при недостаточной гигиене половых органов у необрезанных мужчин скапливается в мешке крайней плоти, а у женщин — вокруг клитора и в складках малых половых губ.
            </p>
            <p class="bred" id = 'Bcrisis'>
               Первое научное описание кряквы было сделано в 1758 году шведским врачом и натуралистом Карлом Линнеем в 10-м издании «Системы природы». Линней неверно отнёс самца и самку кряквы к разным видам: самку к виду Anas platyrhynchos («A. macula alari purpurea utrinque nigra albaque, pectore rufescente»), а самца — к виду Anas boschas («A. rectricibus intermediis (maris) recurvatis, rostro recto»)[9].
            </p>
            <p class="bred" id = 'Bcouple'>
              В первом случае стиль применяется ко всем элементам, теги которых имеют атрибут с указанным именем и значением, начинающимся с указанной подстроки. Во втором случае тоже самое, только к определенным элементам указанным в основном селекторе. Пример:
            </p>
        </header>
        <div id="chart_id" class="chart"></div>
        <footer>
            <div>
                <p>Интервалы</p><p></p>
            </div>
            <div>
               <p>Разница</p><p></p>
            </div>
        </footer>

        <div id="preloader">
            <div class="cssload-tetrominos">
                    <div class="cssload-tetromino cssload-box1"></div>
                    <div class="cssload-tetromino cssload-box2"></div>
                    <div class="cssload-tetromino cssload-box3"></div>
                    <div class="cssload-tetromino cssload-box4"></div>
            </div>
        </div>
    </section>
</body>
    <script src="{% static 'js/jquery_1_9_2.js' %}"></script>
    <script src="{% static 'js/highcharts/highcharts.js' %}"></script>
    <script src="{% static 'js/highcharts/dark-unica.js' %}"></script>
    <script src="{% static 'js/highcharts/main.js' %}"></script>
</html>