<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Диплом</title>
    <meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
    <meta http-equiv="Cache-Control" content="private">
    <meta http-equiv="Expires" content="Wed, 26 Feb 1999 08:21:57 GMT"/>

<meta HTTP-EQUIV="Expires" CONTENT="0">
<meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
<meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"  />
    <link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}"  />
    <link rel="stylesheet" type="text/css" href="{% static 'css/preloader.css' %}"  />
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}"/>

</head>
<body>
    <nav>
            <ul>
                <li>
                        <input type="radio" id='UAH' name="selector" >
                        <label for="UAH">Гривня</label>
                        <div class="a"></div>
                        <div class="b"></div>
                        <div class="c"></div>
                        <div class="d"></div>
                </li>
                <li>
                        <input type="radio" id='RUB' name="selector" >
                        <label for="RUB">Рубль</label>
                        <div class="a"></div>
                        <div class="b"></div>
                        <div class="c"></div>
                        <div class="d"></div>
                </li>
                <li>
                        <input type="radio" id='USD' name="selector">
                        <label for="USD">Долар</label>
                        <div class="a"></div>
                        <div class="b"></div>
                        <div class="c"></div>
                        <div class="d"></div>
                </li>
                <li>
                        <input type="radio" id='EUR' name="selector" checked>
                        <label for="EUR">Євро</label>
                        <div class="a"></div>
                        <div class="b"></div>
                        <div class="c"></div>
                        <div class="d"></div>
                </li>

            </ul>

            <ul>
                <li>
                        <input type="radio" id='graf' name="selector2"  checked>
                        <label for="graf">Курси валют</label>
                        <div class="a"></div>
                        <div class="b"></div>
                        <div class="c"></div>
                        <div class="d"></div>
                </li>
                <li>
                        <input type="radio" id='couple' name="selector2" class="para" >
                        <label for="couple">Попарне порівняння</label>
                        <div class="a"></div>
                        <div class="b"></div>
                        <div class="c"></div>
                        <div class="d"></div>

                </li>
                <li>
                        <input type="radio" id='jump' name="selector2" class="para "  >
                        <label for="jump">Динаміка стрибків</label>
                        <div class="a"></div>
                        <div class="b"></div>
                        <div class="c"></div>
                        <div class="d"></div>
                </li>
                <li>
                        <input type="radio" id='crisis' name="selector2" class="para" >
                        <label for="crisis">Кризисні стани</label>
                        <div class="a"></div>
                        <div class="b"></div>
                        <div class="c"></div>
                        <div class="d"></div>
                </li>

                <select name="cur1" class="select_currency" ></select>
                <select name="cur2" class="select_currency"></select>
            </ul>
    </nav>
    <section>
        <header>
            <p class="bred" id = 'Bgraf'>
                Динаміка курсів валют з 1 ciчня 1999 року й по сьогоднiшнiй день, що збирається у режимі реального часу з основних державних установ, які виконують єдину державну грошово-кредитну політику (НБУ, ФРС, ЦЄБ, ЦБРФ).
            </p>
            <p class="bred" id = 'Bjump'>
                Графік динаміки стрибків показує, наявність стрибків курсів валют. Він будується за формулою: AB=&#8730;<span style='display:blok; border-top:1.5px solid #fff'>(x<sub>b</sub>-x<sub>a</sub>)<sup>2</sup>+(y<sub>b</sub>-y<sub>a</sub>)<sup>2</sup></span>;  </br>    де (x<sub>a</sub>,y<sub>a</sub>) – координати точки А; (x<sub>b</sub>,y<sub>b</sub>) – координати точки B;
            </p>
            <p class="bred" id = 'Bcrisis'>
              На графіку кризових станів зображені лише ті точки, які показують максимальні стрибки. Графік містить дані про кризові інтервали та різницю між точками, що знаходяться в них.
            </p>
            <p class="bred" id = 'Bcouple'>
             Дані на цьому графіку показують, що існують інтервали, де точки зміщуються сильно і швидко, і є точки, що блукають стосовно якихось рівноважних положень.
            </p>
        </header>
        <div id="chart_id" class="chart"></div>
        <footer>
            <div>
                <p>Интервалы</p><p></p>
            </div>
            <div>
               <p>Разница</p><p></p>
            </div>
        </footer>

        <div id="preloader">
            <div class="cssload-tetrominos">
                    <div class="cssload-tetromino cssload-box1"></div>
                    <div class="cssload-tetromino cssload-box2"></div>
                    <div class="cssload-tetromino cssload-box3"></div>
                    <div class="cssload-tetromino cssload-box4"></div>
            </div>
        </div>
    </section>
</body>
    <script src="{% static 'js/jquery_1_9_2.js' %}"></script>
    <script src="{% static 'js/highcharts/highcharts.js' %}"></script>
    <script src="{% static 'js/highcharts/dark-unica.js' %}"></script>
    <script src="{% static 'js/highcharts/main.js' %}"></script>
</html>